
@{
    ViewBag.Title = "No encontrado";
}

<div class="wrapper style2">
    <section class="container">
        <div class="row double">
            <div>
                <h3>Mensaje del sistema de acreditaciones <i>On Line</i></h3>
                <p>@ViewBag.Message</p>
                <br />
                <a href="@Url.Action("Index", "Home")" class="button">Volver</a>
            </div>
        </div>
    </section>
</div>