@model ACKCMS.Models.Accreditation

@{
    ViewBag.Title = "Impresión de Comprobante";
    Layout = "~/Views/Shared/_Certificado.cshtml";
}

<div class="wrapper style2">
    <section class="container">
        <div class="row double">
            <div class="12u">
                <center>
                    <h2>
                        Se certifica que: <strong>@string.Format("{0}, {1}", Model.Nombre, Model.Apellido)</strong><br/>
                        Ha participado como: <strong>Asistente</strong>
                        del XIX Congreso Nacional de Psicodiagnóstico,<br />
                        realizado en la ciudad de Santa Fe,<br/>
                        los días 1, 2 y 3 de Octubre de 2015.
                    </h2>
                </center>
            </div>

        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            print();
        });
    </script>
}