@{
    ViewBag.Title = "XIX Congreso Nacional de Psicodiagnóstico";
}

<div class="row">
    <div class="4u">

        <!-- Box #1 -->
        <section>
            <header>
                <h2>Consejo Directivo de ADEIP</h2>
            </header>
            <ul>
                <li>Presidente: Fernando Silberstein</li>
                <li>Vicepresidenta 1<sup>a</sup>: Mónica Guinzbourg de Braude</li>
                <li>Vicepresidenta 2<sup>a</sup>: Norma Contini</li>
                <li>Secretaria: Ana María Bernia</li>
                <li>Pro Secretaria: Gabriela Constanza</li>
                <li>Tesorera: Mirna Pontikos</li>
                <li>Pro Tesorera: Gladys Frígola</li>
            </ul>
            <h3>Vocales Titulares</h3>
            <ul>
                <li>Alicia Betría</li>
                <li>María Celia Lambrisca</li>
                <li>Andrea Falocchi</li>
                <li>Alicia Freytes</li>
                <li>Marta Inés Díaz de Dragotta</li>
            </ul>
            <h3>Vocales Suplentes</h3>
            <ul>
                <li>Beatriz Mercado</li>
                <li>Mónica Cañete</li>
                <li>Marcelo Alé</li>
                <li>Carolina Villalba</li>
                <li>Elma Balsategui</li>
            </ul>
            <h3>Síndicos Titulares</h3>
            <ul>
                <li>Elizabeth Blanda</li>
                <li>Malena Ocampo</li>
            </ul>
            <h3>Síndico Suplente</h3>
            <ul>
                <li>Sebastián Martínez</li>
            </ul>
            <h3>Consejera de Presidencia (Presidenta Anterior)</h3>
            <ul>
                <li>Liliana Schwartz de Scafati</li>
            </ul>
        </section>

    </div>
    <div class="4u">

        <!-- Box #2 -->
        <section>
            <header>
                <h2>Comisión Organizadora</h2>
            </header>
            <ul>
                <li>Presidente Honorífico: Laura Amado</li>
                <li>Presidente: Brenda Terpin Amado</li>
                <li>Vicepresidente: Analía Zapata</li>
                <li>Secretaria: Eunice Terpin Amado</li>
                <li>Pro Secretaria: Silvana Soria</li>
                <li>Tesorera: Nadia Rodriguez</li>
            </ul>
            <h3>Colaboradores</h3>
            <ul>
                <li>Melisa Adalia</li>
                <li>Milagros Creer</li>
                <li>Yanina Martines</li>
                <li>Marianela Murador</li>
                <li>Ana Luisa Natta</li>
            </ul>
        </section>
        <section>
            <header>
                <h2>Comisión Científica</h2>
            </header>
            <h3>Coordinación General: Schwartz, Liliana y Zapata, Analía</h3>
            <div class="row">
                <div class="6u">
                    <ul>
                        <li>Abelleyra, Hilda</li>
                        <li>Adam, Graciela</li>
                        <li>Alonso, Hilda</li>
                        <li>Benditto, Beatríz</li>
                        <li>Bernia, Ana María</li>
                        <li>Betría, Alica</li>
                        <li>Blanda, Elizabeth</li>
                        <li>Braude, Mónica</li>
                        <li>Contini, Norma</li>
                        <li>Delucca, Norma</li>
                        <li>Echaire, Graciela</li>
                        <li>Febbraio, Andrés</li>
                        <li>Freytes, Alicia</li>
                    </ul>
                </div>
                <div class="6u">
                    <ul>
                        <li>Kacero, Etel</li>
                        <li>Lunazzi, Helena</li>
                        <li>Maglio, Norma</li>
                        <li>Mirkin, Inés</li>
                        <li>Pérez Jáuregui, Isabel</li>
                        <li>Pugliese, Silvia</li>
                        <li>Romero, Ester</li>
                        <li>Russo, Susana</li>
                        <li>Sánchez Ayala, Paula</li>
                        <li>Schwartz, Liliana</li>
                        <li>Silberstein, Fernando</li>
                        <li>Sneiderman, Susana</li>
                        <li>Taborda, Alejandra</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
    <div class="4u">

        <!-- Box #3 -->
        <section>
            <header>
                <h2>Ejes Temáticos</h2>
                <h3>Los ejes están pensados para ser abordados desde los distintos ámbitos (Clínica, Forense, Laboral, Educacional, Institucional, Investigación), niveles de desarrollo (Psiquismo Temprano, Niñez, Adolescencia, Adultos, Adultos Mayores) y Teorías (Cognitivo-Conductual, Sistémica, Psicoanálisis, Neuropsicología, Existencial):</h3>
                <ul class="check-list">
                    <li>El impacto de la crisis social sobre la constitución de la subjetividad y los vínculos sociales.</li>
                    <li>Nuevos modelos de pareja y familia.</li>
                    <li>Las problemáticas de género en la actualidad.</li>
                    <li>El ser humano expuesto a la violencia y la inseguridad</li>
                    <li>La exploración diagnóstica frente a las nuevas maneras de ser y padecer. Indicadores diagnósticos en los diversos ámbitos.</li>
                    <li>Vigencia de los tests y construcción de nuevas herramientas de expliración psicológica.</li>
                    <li>La formación del psicólogo y la ética frente a los paradigmas vigentes: lo normal, lo sano, lo naturalizado.</li>
                    <li>La construcción de nuevas representaciones sociales como experiencia subjetiva en la educación.</li>
                    <li>La orientación vocacional.</li>
                </ul>
            </header>
        </section>

    </div>
</div>