<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://acreditacionesbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>acreditacionesbackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AcreditacionesBackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AcreditacionesBackend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=ig4mahqcfa.database.windows.net;Initial Catalog=Acreditaciones_db;Persist Security Info=True;User ID=congresobioq@ig4mahqcfa;Password=Mili2015!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AcreditacionesBackend.Models.Entities, AcreditacionesBackend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=ig4mahqcfa.database.windows.net;Initial Catalog=Acreditaciones_db;Persist Security Info=True;User ID=congresobioq@ig4mahqcfa;Password=Mili2015!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AcreditacionesBackend.Models.ApplicationDbContext, AcreditacionesBackend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="XIXCNPsicodiagnosticoEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WordIO.XIXCNPsicodiagnosticoEntities, WordIO" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ig4mahqcfa.database.windows.net;Initial Catalog=Acreditaciones_db;Persist Security Info=True;User ID=congresobioq@ig4mahqcfa;Password=Mili2015!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ig4mahqcfa.database.windows.net;Initial Catalog=Acreditaciones_db;Persist Security Info=True;User ID=congresobioq@ig4mahqcfa;Password=Mili2015!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)XIXCNPsicodiagnosticoEntities-Web.config Connection String" />
  </ItemGroup>
</Project>