@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>BACKEND | Sistema de gestión de acreditaciones <i>OnLine</i></h1>
    <h2>Administración de contenidos estáticos.</h2>
    <p class="lead">Utilice las credenciales provistas por el administrador del sitio para iniciar sesión. Contacto técnico: armando.meabe@outlook.com </p>
</div>

